* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Regular', sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 40%;
}

.container-fluid-father {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #000d4c;
    justify-content: space-between;
    color: white;
    font-size: 2.3em;
}

.primeiro-icone {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

.sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    align-items: center;
    border-bottom: 1.3px solid #e7dddd;
}

.col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.bar {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 10em;
    height: 73px;
    background-color: #00264C;
    align-items: center;
    cursor: pointer;
}

.margin {
    margin-left: 5px;
    margin-right: 5px;
}

.empresa-versao {
    display: flex;
    flex-direction: row;
    width: max-content;
}

.versao {
    opacity: 0.4;
    margin-left: 20px;
    font-size: 13px;
    margin-top: 10px;
    height: 30px;
}

.omni {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    justify-content: center;
    margin-left: 30%;
}

.search {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
}

.toggle {
    display: flex;
    width: 15%;
    flex-direction: row;
    border-left: 1.3px solid #e7dddd;
    height: 70px;
    align-items: center;
    position: relative;
    left: 13%;
    font-size: 1.5em;
    text-align: center;
}

.espaco {
    margin-left: 3%;
    width: 30%;
    position: relative;
    bottom: 10px;
}

.dropdown {
    flex-direction: row;
    display: flex;
    height: 73px;
    width: 9%;
    align-items: center;
    border-left: 1.3px solid #e7dddd;
}

.consulta {
    margin-left: 10%;
    font-size: 15px;
}

.buscar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 60%;
}

input.cnn {
    color: #303233;
    font-family: 'Source Sans Regular', sans-serif;
    font-size: 1.7em;
    height: 70px;
    width: 250px;
    outline: 0;
    border: 0 none;
    outline: 0;
    font-style: italic;
    margin-top: 1em;
    background-color: transparent;
}

input.itens {
    color: #303233;
    font-family: 'Source Sans Regular', sans-serif;
    font-size: 2.3em;
    height: 40px;
    width: 80%;
    outline: 0;
    border: 0 none;
    outline: 0;
    font-style: italic;
}

input.cnn[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label.yesorno {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

label.yesorno:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input.gb:checked+label.yesorno {
    background: rgb(45, 202, 250);
}

input.gb:checked+label.yesorno:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

label.yesorno:active:after {
    width: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    margin-top: 0%;
}

.fa-align-justify {
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 100%;
}

.fa-search {
    color: white;
    justify-content: start;
    margin-left: 20px;
    margin-right: 10px;
    color: rgb(45, 202, 250);
    opacity: 0.5;
    align-items: center;
    margin-top: 15%;
    font-size: 3em;
}

.fa-plus-square {
    cursor: pointer;
}

button.dropbtn {
    color: darkgrey;
    font-family: 'Source Sans Regular', sans-serif;
    font-weight: 700;
    margin: 0;
    outline: 0;
    border: 0 none;
    outline: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 2.6em;
    align-items: center;
}

.dropbtn {
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    min-height: 4em;
    vertical-align: middle;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.titulo {
    color: grey;
    padding: 3px;
    text-align: center;
    margin: 0;
    font-size: 2.3em;
}

.f {
    display: flex;
    flex-direction: column;
    font-size: 12px
}

.um {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dois {
    display: flex;
    flex-direction: row;
}

.tres {
    display: flex;
    flex-direction: row;
}

.quatro {
    display: flex;
    flex-direction: row;
}

.cinco {
    display: flex;
    flex-direction: row;
}

label.ok {
    padding-bottom: 0;
    margin-bottom: 15px;
}

input.mod {
    position: absolute;
    opacity: 0;
}

input.mod[type="checkbox"]+label.ok {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}

input.mod[type="checkbox"]+label.ok::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    bottom: 0;
    border: solid 1.2px rgb(117, 209, 245);
}

input.mod[type="checkbox"]:checked+label.ok::after {
    content: '✓';
    color: white;
    background-color: rgb(117, 209, 245);
    width: 15px;
    height: 15px;
    left: 0;
    bottom: 0;
    position: absolute;
}

form {
    align-items: flex-start;
    text-align: start;
    margin-left: 15%;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 10%;
}

.dropdown-content {
    margin-top: 5px;
    padding: 0;
    background-color: #EDEFF0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    height: 37rem;
    list-style-type: none;
    position: absolute;
    right: 30px;
    top: 73px;
    width: 35rem;
    z-index: 9999119;
    display: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.formulario {
    font-size: 14px;
    width: 100%;
    height: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #D8DFE5;
}

.fa-filter {
    color: rgb(45, 202, 250);
    size: 40px;
    position: relative;
    bottom: 35%;
}

.fa-angle-down {
    margin-right: 10px;
}

.ultima {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 73px;
    justify-content: space-between;
    color: black;
    align-items: center;
    box-shadow: 0px 4px 9px #D0D0D0;
    border-bottom: 3px solid #CCCCCC;
    font-family: 'Source Sans Regular', sans-serif;
}

.cesta {
    font-size: 1.4em
}

.barra {
    display: flex;
    width: 20%;
    flex-direction: row;
    align-items: center;
    font-size: 1.6em;
    height: 73px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 1%;
}

.receita {
    display: flex;
    width: 10%;
    height: 73px;
    flex-direction: row;
    align-items: center;
    font-size: 1.6em;
    border-left: 1.3px solid #e7dddd;
    position: relative;
    left: 18%;
}

.cnpj {
    display: flex;
    width: 20%;
    height: 73px;
    flex-direction: row;
    align-items: center;
    font-size: 1.4em;
    border-left: 1.3px solid #e7dddd;
    position: relative;
    left: 15%;
}

.final {
    flex-direction: row;
    display: flex;
    height: 70px;
    width: 9%;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.limpar {
    color: rgb(45, 202, 250);
    font-family: 'Source Sans Regular', sans-serif;
    height: 70px;
    outline: 0;
    border: 0 none;
    outline: 0;
    background-color: white;
    width: 20px;
}

.coletar {
    color: rgb(45, 202, 250);
    font-family: 'Source Sans Regular', sans-serif;
    height: 70px;
    outline: 0;
    border: 0 none;
    outline: 0;
    background-color: white;
    width: 80%;
    font-size: 15px;
    margin-left: 0.2em;
}

.fa-file-medical {
    margin-left: 10px;
    color: red
}

.fa-tags {
    color: rgb(45, 202, 250);
    cursor: pointer;
}

.fa-calculator {
    color: rgb(45, 202, 250);
    margin-left: 5%;
    cursor: pointer;
}

.tags {
    margin-right: 5%;
}

.logopdv {
    width: 100px;
    height: 20px;
}

.low {
    display: flex;
    flex-direction: row;
    background-color: #E7EEF2;
    justify-content: space-between;
    font-size: 1.2em;
}

.low-2 {
    display: flex;
    flex-direction: row;
    background-color: #E7EEF2;
    justify-content: space-between;
    font-size: 1.2em;
    margin-top: 2px
}

.row-fluid-pedidoicone {
    display: flex;
    flex-direction: column;
    font-size: 1.7em;
    margin-top: 0.5%;
    margin-left: 1%;
}

.row-fluid-iconMais {
    display: flex;
    flex-direction: start
}

.fa-plus-square {
    margin-top: 3%;
    font-size: 2em;
    color: white;
    background-color: red;
}

.container-fluid-estoque {
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    text-align: center;
    margin-top: 4px
}

.row-fluid-reserva {
    margin-top: 5%;
}

.container-fluid-valor {
    display: flex;
    flex-direction: column;
    font-size: 1.7em;
    margin-top: 0.2%;
}

.row-fluid-valorReal {
    font-size: 1.4em;
    margin-top: 8%;
}

.row-fluid-verEstoque {
    color: rgb(45, 202, 250);
    font-family: 'Source Sans Regular', sans-serif;
    outline: 0;
    border: 0 none;
    outline: 0;
    background-color: transparent;
    margin-top: 5%;
    font-size: 1em
}

.container-fluid-aumentarValor {
    display: flex;
    flex-direction: column;
    font-size: 1.7em;
    width: 150px;
    margin-top: 0.8%;
}

.fa-trash-alt {
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 4em;
    cursor: pointer;
}

.container-fluid-lixo {
    text-align: center;
    margin-top: 0.8%;
    margin-right: 3%;
}

.aumentarValor {
    display: flex;
    flex-direction: row;
    width: 130px;
    align-items: center;
}

.row-fluid-qty .row-fluid-count {
    color: rgb(45, 202, 250);
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
    min-width: 35px;
    text-align: center;
}

.row-fluid-qty .row-fluid-plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(45, 202, 250);
}

.row-fluid-qty .row-fluid-minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: rgb(45, 202, 250);
    opacity: 0.3;
}

div {
    text-align: center;
}

.row-fluid-minus:hover {
    background-color: #5cadf0 !important;
}

.row-fluid-plus:hover {
    background-color: #5cadf0 !important;
}

input.gb {
    border: 0;
    width: 2%;
}

input.row-fluid-count {
    border: 0;
    width: 2%;
}

input.row-fluid-count::-webkit-outer-spin-button,
input.row-fluid-count::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.row-fluid-count:disabled {
    background-color: white;
}

.container-fluid-rodape {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.row-fluid-valorTotal {
    display: flex;
    flex-direction: column;
    text-align: end;
    font-size: 16px;
    margin-top: 0.5%;
    margin-right: 5%;
}

.maior {
    font-size: 20px;
}

.row-fluid-entregaSalvar {
    display: flex;
    flex-direction: row;
    height: 70px;
    margin-top: 0;
    width: 400px;
    margin-top: 1%;
    margin-right: 2%;
    justify-content: space-between;
}

.entrega {
    color: #fff;
    background: #D6DFE4;
    box-shadow: none;
    cursor: default;
    outline: none;
    border: 2px solid white;
    float: right;
    margin-right: 5%;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    width: 140px;
    height: 38px;
    outline: none;
    border-radius: 4px;
}

.salvar {
    color: #fff;
    background-color: #868e96;
    box-shadow: none;
    cursor: default;
    outline: none;
    border: 2px solid #868e96;
    margin-right: 5%;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    width: 250px;
    height: 38px;
    outline: none;
    border-radius: 4px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.314);
}
.pagamento{
    color: #fff;
    background-color:rgb(45, 202, 250);
    box-shadow: none;
    cursor: default;
    outline: none;
    border: 2px solid rgb(45, 202, 250);
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    width: 180px;
    height: 38px;
    outline: none;
    border-radius: 4px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.314);

}

footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #d6dfe4;
    box-shadow: 0px -2px 30px #ababab;
    text-align: right;
}

#mostrar {
    display: none;
}

button.entrega {
    cursor: pointer;
}

button.salvar {
    cursor: pointer;
}
button.pagamento{
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .versao {
        display: none;
    }
    .span {
        display: none;
    }
    .fa-filter {
        align-items: center;
        margin-right: 5px;
    }
    .consulta {
        margin-top: 40px;
        font-size: 10px;
        margin-left: 0;
        text-align: left;
        position: relative;
        right: 7px;
    }
    input.cnn {
        color: rgb(45, 202, 250);
        font-family: 'Source Sans Regular', sans-serif;
        font-size: 1em;
    }
    .fa-align-justify {
        margin: 0 0 0;
        justify-content: start;
        font-size: 15px;
    }
    input.itens {
        width: 200px;
    }
    .low {
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        justify-content: space-between;
    }
    .low-2 {
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        justify-content: space-between;
    }
    .row-fluid-pedidoicone {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: white;
        margin: 0;
        font-size: 12px;
    }
    .container-fluid-estoque {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: flex-end;
        font-size: 11px;
    }
    .container-fluid-valor {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        background-color: white;
        margin: 0;
        font-size: 16px;
    }
    .container-fluid-lixo {
        border-bottom: 3px double lightgray;
        height: 5px;
    }
    .container-fluid-aumentarValor {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: flex-end;
    }
    .row-fluid-status {
        margin-top: 2px;
        text-align: center;
        margin-right: 5px;
        font-size: 14px;
    }
    .row-fluid-reserva {
        margin: 0;
        text-align: center;
        margin-right: 5px;
        font-size: 14px;
    }
    .row-fluid-verEstoque {
        text-align: center;
        margin-top: 0;
        margin-bottom: 2px;
        margin-right: 5px;
        font-size: 14px;
    }
    .row-fluid-valorReal {
        margin: 0;
        font-size: 16px;
        margin-right: 5px;
        margin-left: 15px;
    }
    .row-fluid-qty {
        margin-top: 2px;
    }
    .container-fluid-lixo {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        background-color: white;
        margin: 0;
        font-size: 5px;
    }
    .fa-trash-alt {
        margin-right: 10px;
        margin-top: 5px;
        position: relative;
        bottom: 30px;
    }
    .fa-align-justify {
        font-size: 20px;
    }
    label.yesorno {
        position: relative;
        bottom: 15px;
        left: 5px;
    }
    .fa-plus-square {
        margin-right: 5px;
    }
    .produto {
        margin-left: 5px;
    }
    @media screen and (max-width: 789px) {
        .cnpj {
            display: none;
        }
        .coletar {
            display: none;
        }
        .receita {
            border-right: 1.3px solid #e7dddd;
            width: 73px;
        }
        .fa-file-medical {
            margin-left: 100%;
            align-items: center;
            vertical-align: middle;
        }
        .span {
            font-size: 1em;
        }
        .row-fluid-entregaSalvar {
            display: flex;
            flex-direction: row;
            height: 70px;
            margin-top: 0;
            width: 400px;
            margin-top: 1%;
            margin-right: 20px;
        }
        .entrega {
            font-size: 10px;
            font-weight: 600;
            text-align: center;
            line-height: 1;
            width: 70px;
            height: 38px;
        }
        .salvar {
            font-size:9px;
            font-weight: 600;
            text-align: center;
            line-height: 1;
            width: 70px;
            height: 38px;
        }
        .pagamento{
            font-size: 10px;
            font-weight: 600;
            text-align: center;
            line-height: 1;
            width: 70px;
            height: 38px;

        }
        .final {
            position: relative;
            right: 15px;
        }
        .fa-file-medical {
            margin-left: 10px;
            color: red;
            margin-left: 1.2em;
            font-size: 2.3em
        }
        button.dropbtn {
            font-size: 10px;
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 936px) {
    .cnpj {
        font-size: 1em;
        width: 40%;
    }
    input.cnn {
        color: #303233;
        font-family: 'Source Sans Regular', sans-serif;
    }
    input.itens {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 1040px) {
    .fa-align-justify {
        margin: 1em;
    }
    .cnpj {
        font-size: 1em;
        width: 40%;
    }
}

@media screen and (max-width: 450px) {
    .omni {
        display: none;
    }
    .fa-align-justify {
        margin: 1.5em;
    }
    .fa-filter {
        margin-top: 170%;
    }
    button.dropbtn {
        display: none;
    }
}

@media screen and (max-width: 536px) {
    .row-fluid-entregaSalvar {
        display: flex;
        flex-direction: row;
        height: 70px;
        margin-top: 0;
        width: 200px;
        margin-top: 1%;
        margin-right: 2%;
    }
    .entrega {
        font-size: 10px;
        font-weight: 600;
        text-align: center;
        line-height: 1;
        width: 70px;
        height: 38px;
    }
    .salvar {
        font-size: 10px;
        font-weight: 600;
        text-align: center;
        line-height: 1;
        width: 70px;
        height: 38px;
    }
}


}